body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    color: rgba(18, 218, 14, 0.5);
    background-color: rgba(255, 4, 8, 0.8); 
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(241, 237, 237, 0.5); 
}

header h1 {
    color: #2c3e50; 
    margin: 0;
}
.service{
color: white;
text-align: center;
}
.about{
    color: white;
    background-position: 10px;
}
nav ul {
    background-color: white;
    color:#ffffff;
    font-weight: bold;
    padding: 10px;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    color:#ffffff;
    font-weight: bold;
    padding: 10px;
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    max-width: 400px;
    margin: 30px auto;
}

.login-form h2 {
    color: #2c3e50; 
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    color: #2c3e50; 
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    outline: none;
    border-color: #3498db;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #2980b9; 
}
.extra-content {
    text-align: center;
}

.extra-content p {
    margin-bottom: 10px;
}

.extra-content a {
    color: #2ecc71; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.extra-content a:hover {
    color: #27ae60; 
}
